.ChatUserInputSec {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
  justify-content: space-around;
  border-radius: 20px;
  grid-column: span 1;
  grid-row: span 1;
  min-width: 350px;
}
