.ChatSecion {
  overflow: hidden;
  grid-column: span 1;
  grid-row: span 1;
  background-color: #6e968c;
  border-radius: 0 0 25px 25px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

