.MainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 2fr;
  height: 100vh;
  background-color: #447066;
  transition: margin-left 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cad2c5;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f3e46;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
